.places {
  margin: 92px 148px 0 148px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places {
    margin: 93px 48px 0 48px;  
    }   
}

@media screen and (max-width: 768px) {
    .places {
      margin: 91px 24px 0 24px; 
      row-gap: 72px; 
    }   
}

@media screen and (max-width: 320px) {
    .places {
      margin: 64px 0 0 0; 
      row-gap: 50px; 
    }   
}
