/*.lead__background {
  background-image: url(../../../images/lead-polka.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 615px;
}
 
@media screen and (max-width: 928px) {
  .lead__background {
    max-height: 480px; 
  }  
}

/*@media screen and (max-width: 928px) {
  .lead__image {
    max-height: 768px; 
  }  
}*/

